@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

:root {
    --clr-font-300: #838383;
    --clr-font-700: #3f3f3f;
    --body-font: 'Roboto', sans-serif;
    --sz-font-300: 1rem;
    --sz-font-700: 1.5rem; 
}

* {
    box-sizing: border-box;
}


/* ------------LAYOUT-------------- */

body {
    background-image: url(./images/turquoise-polygon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: var(--body-font);
    margin: 0;
    position: relative;
    text-align: center;
}

.card {
    background-color: #fff;
    border-radius: 15px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

.card-grid {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    grid-template-rows: repeat(6, 50px);
    justify-items: center;
}

.banner {
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    grid-column: 1 / -1;
    grid-row: 1 / 4;
}

.card-icon {
    border-radius: 100%;
    border: 5px solid #fff;
    grid-column: 2 / 3;
    grid-row: 3 / 5;
}

.card-info {
    grid-column: 2 / 3;
    grid-row: 5 / 7;
}

.card-status {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1em 0 2em 0;
    border-top: 1px solid #cacaca;
}


/* -----------TYPOGRAPHY----------- */


.card-txt {
    font-size: var(--sz-font-700);
    color: var(--clr-font-700);
    font-weight: 700;
}

.card-txt-sp {
    color: var(--clr-font-300);
    font-size: var(--sz-font-300);
    font-weight: 300;
    display: inline;
}

p > .card-txt-sp {
    font-size: var(--clr-font-700);
    color: var(--clr-font-300);
    padding-left: .5em;
}

.card-info p:first-of-type {
    padding-bottom: .5em;
}

.card-status .card-txt {
    margin-bottom: .3em;
}

p {
    margin-bottom: 0;
}

.attribution { 
    font-size: 11px;
    text-align: center; 
    color: #fff;
}

.attribution a {
    color: hsl(175, 100%, 50%);
}
